<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html ng-app="app">
<head>
	<title>Beego + Angular + Gulp</title>
	<base href="/">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>

	<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
	<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:400,300' type='text/css'>
	<link rel='stylesheet' href='static/assets/app.bundle.css' type='text/css'>
	<script type="application/javascript" src="static/assets/vendor.bundle.js"></script>
	<script type="application/javascript" src="static/assets/app.bundle.js"></script>

</head>
<body ui-view>

</body>
</html>