header, main, footer {
  padding-left: $menu-width;
  @media only screen and (max-width: $medium-screen) {
    padding-left: 0;
  }
}

@media only screen and (min-width: $small-screen-up) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 64px;
    line-height: 64px;
  }
}

nav {
  color: #757575;
  background-color: #F2F2F2;
  width: 100%;
  height: 56px;
  line-height: 56px;
  &.top-nav {
    height: 122px;
    box-shadow: none;
    a.page-title {
      line-height: 122px;
      font-size: 48px;
      &.linked {
        color: $primary-color;
      }
      &.unlinked {
        color: #808080;
      }
    }
    i{
      display: inline-block;
      max-width: 40px;
      font-size: 2rem;
      &.separator {
        color: #a0a0a0;
      }
    }
  }
  a {
    -webkit-font-smoothing: antialiased;
  }
  @media only screen and (max-width: $medium-screen) {
    .nav-wrapper {
      text-align: center;
      a.page-title {
        font-size: 36px;
      }
    }
  }
}

a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: $secondary-color;
  font-size: 36px;
  z-index: 2;
  &.full {
    line-height: 122px;
  }
  i {
    font-size: 32px;
  }
}

.side-nav {
  .userView {
    .background {
      background: url("../img/header-bg.jpg");
      background-position: center;
      background-size: cover;
    }
  }
}